
            <div class="col-xl-3 col-md-6">      
                <app-cardin></app-cardin>
                   </div>
                  
                   <div class="col-xl-3 col-md-6">
                       <app-cardin></app-cardin>
                   </div>
                   <div class="col-xl-3 col-md-6">
                       <app-cardin></app-cardin>
                   </div>
                    <div class="col-xl-3 col-md-6">
                           <app-cardin></app-cardin>
                              </div>
